<div class="container my-4">
  <div class="row">
    <div class="col-12 p-4 d-flex flex-column gap-4 align-items-center">
      <!-- Título -->
      <h1 class="display-5 text-center">Sobre o Gerenciador de Produtos</h1>

      <!-- Descrição -->
      <p class="lead text-center lh-lg">Este é um projeto desenvolvido para aprimorar o gerenciamento de inventário e
        produtos de forma prática e
        eficiente.</p>

      <!-- Destaques principais: -->
      <h2>Funcionalidades principais:</h2>
      <ul class="lead list-unstyled lh-lg">
        <li><span class="icon">📋</span> Cadastro e edição de produtos</li>
        <li><span class="icon">🔍</span> Busca e filtragem dinâmica</li>
        <li><span class="icon">💾</span> Integração com API para persistência de dados</li>
        <li><span class="icon">🎨</span> Design moderno usando Angular Material</li>
      </ul>
    </div>
  </div>
</div>