<div class="container my-4">
  <div class="row">
    <div class="col-12 p-4 d-flex flex-column gap-4 align-items-center">
      <!-- Título principal: -->
      <h1 class="display-5 text-center">Bem-vindo ao Gerenciador de Produtos!</h1>

      <!-- Descrição curta: -->
      <p class="lead text-center lh-lg">Organize, visualize e gerencie seus produtos com facilidade e
        eficiência.<br>Nossa
        plataforma
        foi
        desenvolvida
        para
        tornar o gerenciamento simples e intuitivo.</p>

      <!-- Destaques principais: -->
      <h2>Destaques:</h2>
      <ul class="lead list-unstyled lh-lg">
        <li>
          <b>✅ Cadastro rápido:</b> Adicione novos produtos em poucos cliques.
        </li>
        <li>
          <b>📊 Visualização clara:</b> Veja todos os produtos em uma lista organizada.
        </li>
        <li>
          <b>🔄 Atualizações em tempo real:</b> Modifique e exclua produtos com praticidade.
        </li>
      </ul>

      <!-- Call-to-Action (CTA): -->
      <button mat-raised-button routerLink="/produtos" class="btn btn-lg"><mat-icon>view_list</mat-icon> Ver
        produtos</button>
      <button mat-raised-button routerLink="/produtos/formulario" class="btn btn-lg"
        color="primary"><mat-icon>add</mat-icon>
        Adicionar
        novo
        produto</button>
    </div>
  </div>
</div>